
/*-------------------------
   banner Styles
-------------------------*/
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.gamer-online-games{
    display: flex;
    gap: 170px;
    justify-content: center;
    background-color: var(--color-secondary);
    align-items: center;
    .pic-holder{
        margin: 0 0 120px;
        position: relative;
        .morepic{
            position: absolute;
            right: -18%;
            top: 60%;
        }
    }
    .gamer-text{
        .title{
            font-weight: 700;
            color: var(--color-foot);
            margin-bottom: 24px;
        }
        .add-color{
            color: var(--color-title1);
        }
        .add-color-2{
            color: var(--color-title2);
        }
        .paragraph{
            font-size: 18px;
            font-weight: 400;
            color: var(--color-banner-list);
        }
    }
}


