
/*-------------------------
   banner Styles
-------------------------*/

.gamer-banner{
    padding: 19px 0px 0 0px;
    align-items: center;
    background-image: url("../media/ban-pic-1.png");
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    gap: 364px;
    .banner-text{
        .title-2{
            color: var(--color-foot);
            font-weight: 600;
            margin: 0 0 4px 0;
        }
        .title-1{
            color: purple;
            font-weight: 800;
            margin: 0 0 24px 0;
        }
        .icon-text{
            margin-bottom: 40px;
            ul{
                li{
                    a{
                        .text-style{
                            font-size: 20px;
                            font-weight: 400;
                            color: var(--color-banner-list);
                        }
                    }
                }
            }
        }
        .banner-btn{
            display: flex;
            gap: 24px;
            .btn{
                a{
                    border-radius: 48px;
                    font-size: 20px;
                    color: var(--color-secondary); 
                    font-weight: 600;
                    padding: 21px 40px;
                }    
                .pink{
                    background-color: var(--color-primary);
                }
                .blue{
                    background-color: var(--color-btn-2);
                }
            }
        }
    }
    .image-holder{
        img{
            width: 700px;
            margin-bottom: -2px;
        }
    }
}


