
/*-------------------------
   banner Styles
-------------------------*/
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.gamer-banner{
    
    background-image: url("../media/ban-pic-1.png");
    background-position: left; 
    background-repeat: no-repeat;
    @media screen and (max-width: 768.99px){
        background-size: cover;
        
    }
    .banner-style{
        @media screen and (max-width: 768.99px){
            flex-direction: column-reverse;
            gap: 155px;
            padding: 0 0 131px 0;
        }
        align-items: center;
        display: flex;
        justify-content: space-between;
        
        
            .banner-text{
                @media screen and (max-width: 576px){
                    flex-direction: column;
                }
                // background-image: url("../media/ban-pic-1.png");
                // background-position: left;
                // background-size: cover;
                // background-repeat: no-repeat;
                .title-2{
                    color: var(--color-foot);
                    font-weight: 600;
                    margin: 0 0 4px 0;
                }
                .title-1{
                    font-weight: 800;
                    margin: 0 0 24px 0;
                    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .icon-text{
                    margin-bottom: 40px;
                    ul{
                        li{
                            .text-style{
                                font-size: 16px;
                                font-weight: 400;
                                color: var(--color-banner-list);
                            }
                        }
                    }
                }
                .banner-btn{
                    display: flex;
                    gap: 24px;
                    .btn{
                        a{
                            border-radius: 48px;
                            font-size: 20px;
                            color: var(--color-secondary); 
                            font-weight: 600;
                            padding: 21px 40px;
                            @media screen and (max-width: 425.99px){
                                padding: 18px 20px;
                            }

                        }    
                        .pink{
                            background-color: var(--color-primary);
                        }
                        .blue{
                            background-color: var(--color-btn-2);
                        }
                    }
                }
            }
        
        .image-holder{
            img{
                width: 700px;
                margin-bottom: -35px;
            }
        }
    }
}


