
/*-------------------------
   banner Styles
-------------------------*/
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.gamer-feature{
    display: flex;
    gap: 52px;
    justify-content: center;
    text-align: right;
    background-color: var(--color-back-feat);
    .feature-text{
        .title{
            font-weight: 700;
            color: purple;
            margin-bottom: 24px;
        }
        .paragraph{
            font-size: 18px;
            font-weight: 400;
            color: var(--color-banner-list);
            margin-bottom: 32px;
        }
        .feature-btn{
            margin-bottom: 32px;
            .btn{
                border-radius: 48px;
                font-size: 20px;
                color: var(--color-secondary);
                font-weight: 600;
                padding: 21px 40px;
                background-color: var(--color-primary);
            }
        }
        .small-text{
            .text-style{
                margin-bottom: 8px;
                font-size: 24px;
                font-weight: 400;
                color: var(--color-banner-list);
            }
        }
        .more-detail{
            .t-text{
                font-weight: 700;
                color: var(--color-banner-list);
            }
        }
    }
}


