
/*-------------------------
   banner Styles
-------------------------*/
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.gamer-feature{
    background-color: var(--color-back-feat);
    .feature-style{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768.99px){
            flex-direction: column;
            text-align: center;
        }
        .feature-text{
            text-align: right;
            @media screen and (max-width: 768.99px){
                text-align: center;
            }
            .title{
                font-weight: 700;
                margin-bottom: 24px;
                background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .paragraph{
                @media screen and (max-width: 576px){
                    font-size: 14px;
                }
                font-size: 18px;
                font-weight: 400;
                color: var(--color-banner-list);
                margin-bottom: 32px;
            }
            .feature-btn{
                @media screen and (max-width: 576px){
                    margin-bottom: 60px;
                }
                margin-bottom: 32px;
                .btn{
                    border-radius: 48px;
                    font-size: 20px;
                    color: var(--color-secondary);
                    font-weight: 600;
                    padding: 21px 40px;
                    background-color: var(--color-primary);
                }
            }
            .small-text{
                .text-style{
                    margin-bottom: 8px;
                    font-size: 24px;
                    font-weight: 400;
                    color: var(--color-banner-list);
                }
            }
            .more-detail{
                .t-text{
                    font-weight: 700;
                    color: var(--color-banner-list);
                }
            }
        }
    }
}


