
/*-------------------------
   banner Styles
-------------------------*/
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.carrier{
    background-color: var(--color-primary);
    padding-top: 70px;
}

.gamer-carrier{  
    
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0 0 0 84px;
    flex-wrap: wrap;
    @media screen and (max-width: 768.99px){
        flex-direction: column;
        text-align: center;
        padding: 15px;

    }
    .carrier-text{
        width: 48%;
        @media screen and (max-width: 768.99px){
            flex-direction: column;
            text-align: center;
        }
        .title{
            font-weight: 700;
            color: var(--color-secondary);
            margin-bottom: 24px;
        }
        .paragraph{
            font-size: 18px;
            color: var(--color-secondary);
            font-weight: 400;
            margin-bottom: 24px;
           
        }
        .carrier-btn{
            a{
                font-size: 20px;
                color: var(--color-primary);
                padding: 21px 40px;
                background-color: var(--color-secondary);
                border-radius: 48px;
            }
        }
    }
    .pic-holder{
        width: 48%;
        img{
            width: 700px;
        }
    }
    
}


