/*-------------------------
    Reset Styels
-------------------------*/
a {
    display: inline-block;
    text-decoration: none;
    transition: var(--transition);
}
span {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul.list-style, 
ol.list-style {
    margin: -10px 0;
    li {
        margin: 10px 0;
        &::marker {
            color: var(--color-primary);
        }
    }
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
 