/*-------------------------
    Variables
-------------------------*/
:root {
// Color
--color-primary: #FF42A5;
--color-secondary: #FFFFFF;
--menu-font-color: #3C354F;
--color-btn-1: #E7E6E9;
--color-foot: #0B0223;
--color-foot-text: #9D9AA7;
--color-btn-2: #4EC5F7;
--color-banner-list: #534C64;
--color-back-feat: #FFFCFD;
--color-title1: #E44CBE;
--color-title2: #C151D2;



// Gradient Color
--gradient-primary: linear-gradient(90deg, #ECF2F6 0%, rgba(236, 242, 246, 0) 70.31%);
--gradient-blue: linear-gradient(145.92deg, #5956E9 20.18%, #9991FF 76.9%);
--gradient-accent: linear-gradient(180deg, #FAB8C4 0%, #FFEDF0 100%);
--gradient-white: linear-gradient(266.3deg, rgba(236, 242, 246, 0) 7.84%, #ECF2F6 29.1%, rgba(236, 242, 246, 0) 64.32%);
--gradient-dark: linear-gradient(180deg, #27272E 0%, #303035 100%);



// Border
--border-light: 1px solid #E3E6E9;
--border-lighter: 1px solid #ECF2F6;
--border-dark: 1px solid var(--color-ship-gray);
--border-gray: 1px solid var(--color-gray-4);


//Font Family

--font-primary:'Work Sans', sans-serif;
--font-awesome: 'Font Awesome 5 Pro';

// Transition
--transition: all 0.3s ease-in-out;

//Fonts Size
--font-body-1: 18px;
--font-body-2: 16px;

// Line Height
--line-height-b1: 24px;
--line-height-b3: 1.1;

// Heading Font 
--h1: 95px; 
--h2: 48px; 
--h3: 32px;
--h4: 24px; 
--h5: 20px; 
--h6: 18px; 
}

// Layouts Variation
$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';

