
/*-------------------------
   banner Styles
-------------------------*/
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.gamer-carrier{
    @media screen and (max-width: 576px){
        flex-direction: column;
        text-align: center;
    }
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0 0 0 84px;
    background-color: var(--color-primary);
    align-items: center;
    .carrier-text{
        @media screen and (max-width: 576px){
            flex-direction: column;
            text-align: center;
        }
        .title{
            font-weight: 700;
            color: var(--color-secondary);
            margin-bottom: 24px;
        }
        .paragraph{
            font-size: 18px;
            color: var(--color-secondary);
            font-weight: 400;
            margin-bottom: 24px;
        }
        .carrier-btn{
            a{
                font-size: 20px;
                color: var(--color-primary);
                padding: 21px 40px;
                background-color: var(--color-secondary);
                border-radius: 48px;
            }
        }
    }
    .pic-holder{
        img{
            width: 700px;
        }
    }
    
}


