
/*-------------------------
   banner Styles
-------------------------*/

.section{
    max-width: 1410px;
    margin: auto;
    padding:  15px;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}
.gammer-games-videos{
    .games-video-style{
        @media screen and (max-width: 425px){
            flex-direction: column;
             
        }
        .games-videos-text{
            text-align: center;
            .title{
                font-weight: 700;
                margin-bottom: 16px;
                color: var(--color-foot);
            }
            .add-color{
                background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .paragraph{
                font-size: 18px;
                font-weight: 400;
                color: var(--color-banner-list);
                margin-bottom: 48px;
            }
        }
        .pictures{
            flex-wrap: wrap; 
            display: flex;
            gap: 24px;
            align-items: center;
            
            
        }

        .image-holder{
            position: relative;
            @media screen and (max-width: 768.99px){
                width: 47%;
           }
           @media screen and (max-width: 425.99px){
            width: 100%;
       }
            h3{
                @media screen and (max-width: 576px){
                    br{
                        display: none;
                    }
                }
                font-size: 20px;
                font-weight: 500;
                color: var(--color-banner-list);
                }
            .image-box{
                
                position: relative;
                margin-bottom: 20px;
                > img{
                    width: 100%;
                }
                .image-play{
                    display: inline-grid;
                    text-align: center;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    z-index: 22;
                    left: 34%;
                    top: 42%;
                    transition: 0.3s;
                    a{
                        color: var(--color-primary);
                        margin-bottom: 15px;
                    }
                }
            }
            .image-box::after{
                top:0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.60);
                opacity: 0;
                visibility: hidden;
                z-index: 2;
                border-radius: 16px;
                transition: 0.3s;
            }
            &:hover .image-box{
                &::after{
                    opacity: 1;
                    visibility: visible;
                }
                .image-play{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}


