/*-------------------------
   Header Styles
-------------------------*/
*{
    font-family: var(--font-primary);
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gamer-header{
    background-color: var(--color-secondary);
    padding: 37px 0;
    display: flex;
    justify-content: center;
    gap: 600px;
    align-items: center;
    .logo-holder{
        img{
            width: 253.04px;
            height: 53px;
        }
    }
    .menus{
        display: flex;
        gap: 32px;
        align-items: center;
        .items{
            display: flex;
            align-items: center;
            gap: 32px;
            li{
                a{
                    color: var(--menu-font-color);
                    &:hover{
                        color: var(--color-primary);
                    }
                }
            }
        }
        .menu-btn{
            a{
                color: var(--menu-font-color);
                background-color: var(--color-btn-1);
                padding: 14px 24px;
                border-radius: 8px;
                border: 2px solid var(--color-btn-1);
                .spacing{
                    margin: 0 8px 0 18px;
                }
                &:hover{
                    background-color: var(--color-secondary);
                    border: 2px solid var(--menu-font-color);
                } 
            }
        }
    }
}









    