/*-------------------------
   Footer Styles
-------------------------*/

*{
    font-family: var(--font-primary);
    list-style: none;
    text-decoration: none;
}
.gamer-footer{
    background-color: var(--color-foot);
    text-align: center;
    .logo-holder{
        margin-bottom: 56px;
        img{
            width: 253.04px;
            height: 53px;
            
        }
    }
    .foot-menu{
        margin-bottom: 56px;
        ul{
            justify-content: center;
            display: flex;
            gap: 60px;
            li{
                a{
                    color: var(--color-secondary);
                    font-size: 20px;
                    &:hover{
                        color: var(--color-foot-text);
                    }
                }
            }
        }
    }
    .foot-pics{
        ul{
            justify-content: center;
            display: flex;
            gap: 40px;
        }
    }
    .foot-items{
        margin: 64px 0 18px 0;
        ul{
            li{
                .text-style{
                    font-size: 16px;
                    color: var(--color-foot-text);
                    font-weight: 400;
                    transition: var(--transition);
                    &:hover{
                        color: var(--color-secondary);
                    }
                }
            }
        }
    }
    .foot-items-2{
        .text-style{
            font-size: 16px;
            color: var(--color-foot-text);
            font-weight: 400;
            transition: var(--transition);
            &:hover{
                color: var(--color-secondary);
            }
        }
    }
}   