
/*-------------------------
   banner Styles
-------------------------*/
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.gamer-option{
    background-color: var(--color-back2);
    .option-style{
        ul{
            li{
               
                a{
                    display: flex;
                    gap: 16px;
                    align-items: center;
                    background-color: transparent;
                    padding: 10px;
                    border: 1px solid transparent;
                    border-radius: 50px;
                    transition: var(--transition);
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--color-foot);
                    &:hover{
                        border: 1px solid var(--color-primary);
                        color:var(--color-primary);
                    }
                }
                .active{
                    border: 1px solid var(--color-primary);
                    color:var(--color-primary);
                }
            }
        }
        .spacing{
            margin-bottom: 28px;
            flex-wrap: wrap;  
            justify-content: center;
            display: flex; 
            @media screen and (max-width: 425.99px){
                flex-wrap: wrap;  
            }
            li{
                width: 17%;
                margin: 14px 17px;
                @media screen and (max-width: 991px){
                    width: 30%;
                    margin: 10px;
                    }
                @media screen and (max-width: 567px){
                    width: 44%;
                    margin: 10px;
                }
                @media screen and (max-width: 425.99px){
                    width: 99%;
                   
                }
                
            }
        }
    }
}


